# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log



# Ignore any other files you don’t want in the Docker image
*.bak
*.tmp
